[user]
	name = Morathii 
	email = morathii@icloud.com

[core]
	autocrlf = input
	editor = vim
	excludesfile = ~/.gitignore
	pager = less -FRSX

[color]
	ui = auto

[fetch]
	prune = true

[init]
	defaultBranch = main

[merge]
	conflictstyle = diff3
	tool = nvimdiff

[mergetool]
	prompt = false

[pull]
	rebase = true

[push]
	default = simple

[rebase]
	autosquash = true

[rerere]
	enabled = true
	autoupdate = true

[includeIf "gitdir:~/Documents/code/work/"]
	path = ~/Documents/code/work/.gitconfig

