[Unit]
Description=Backup home directory to external drive
After=media-backup.mount

[Service]
Type=oneshot
ExecStart=/home/fred/backup.sh
Environment="DBUS_SESSION_BUS_ADDRESS=unix:path=/run/user/%U/bus"
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=default.target
